{% extends 'inicio.html' %}
{% block contenido %}
	<div class="card" style="width: 18rem;">
  <img src="/media/forky.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">HappyToys</h5>
    <p class="card-text">El proyecto consistira en una pagina web donde se puedan comprar juguetes, se espera poder realizar lo siguiente</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Carrito de compra</li>
    <li class="list-group-item">Utilizar microservicios(no oficial)</li>
  </ul>
  <div class="card-body">
    <a href="/" class="card-link">Volver al inicio</a>
  </div>
</div>
	
{% endblock contenido %}