{% extends 'plantilla.html' %}
{% block contenido %}
    
    <br>
    <form class="form-inline my-2 my-lg-0" method = "POST" >
        {% csrf_token %}
      <input class="form-control mr-sm-2" type="text" placeholder="Buscar un juguete" name = "buscador">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
    </form>
    <br><br><br> 


    <div class="card-columns">
        {% for juguete in resultado %}
            <div class="card bg-secondary" >
                <div class="card-body text-center">
                    <img src="{{ MEDIA_URL }}{{ juguete.imageFile }}" class="card-img-top"  alt="...">
                    <h5 class="card-title">{{juguete.nombre}}</h5>
                    <p class="card-text">{{juguete.descripcion}}</p>
                </div>
                <div class="card-footer text-center">
                    <small class="text-muted">${{juguete.precio}}</small>
                </div>
            </div>
        {% endfor %}
       
    </div>


{% endblock contenido %}