{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Taller de Proyectos Web</title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}">
</head>
<body style="background-color: #fff">
	

	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">HappyToys</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/descripcion">Descripcion del proyecto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/juguetes">Nuestros juguetes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/juguetes/agregar">Agregar nuevos juguetes</a>
      </li>
    </ul>

    {% if user.is_authenticated %}
    Hola {{user.username}} 
    <a class="btn btn-secondary my-2 my-sm-0" href="{% url 'logout' %}">Cerrar sesion</a>
     
    {% else %}
      <a class="btn btn-secondary my-2 my-sm-0" href="/login">Iniciar sesion</a>
    {% endif %}

    
    


  </div>
</nav>


  {% block contenido %}
 
	
	{% endblock contenido %}
	


</body>
</html>