{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Taller de Proyectos Web</title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'estilo.css' %}">
</head>
<body style="background-color: #eaeaea">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="#">HappyToys</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
		<li class="nav-item active">
			<a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/descripcion">Descripcion del proyecto</a>
		</li>
		 <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Nuestros juguetes</a>
      	</li>
		</ul>
	</div>
	</nav>


	{% block contenido %}
	
	{% endblock contenido %}
	


</body>
</html>